---
layout: default
---
<div class="home">
    <div class="anti-navbar"></div>
    <div class="wrapper">
        <h3>Artikel Terbaru</h3>
        <ul class="post-list-grid">
            {% for post in paginator.posts | except:"category", "Kegiatan" %}
            <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <h2>{{ post.title }}
                    </h2>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <div class="post-imagery post-imagery-overlay"></div>
                    <div class="post-imagery post-imagery-image" style="background-image: url('{{ site.picture_url_small }}?uniq={{ post.date | date: "%d%m%Y" }}{{ forloop.index }}')"></div>
                    <div class="post-imagery post-imagery-fallback"></div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="post-list-pagination">
            <div class="inline-table">
                <div class="table-cell">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="button previous">Previous</a>
                {% else %}
                    <span class="button disabled previous">Previous</span>
                {% endif %}
                </div>
                <div class="table-cell">
                    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
                </div>
                <div class="table-cell">
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next button">Next</a>
                {% else %}
                    <span class="next button disabled">Next</span>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
