<div class="navbar">
    <div class="navbar-wrapper">
        <div class="inline-table">
            <div class="table-cell">
                <a href="{{ site.url }}"><img class="brand-logo" src="/svg/logo_majeedr_blue.svg"></a>
            </div>
            <div class="table-cell">
                <h1 class="brand-name">Majeedr</h1>
            </div>
        </div>
        <div class="navbar-menu">
            <ul>
                <li><a href="/kategori.html">Ketegori</a></li>
                <li><a href="/tag.html">Tag</a></li>
                <li><a href="/kegiatan.html">Kegiatan</a></li>
                <li><a href="/informasi.html">Informasi</a></li>
                <li><a href="/donasi.html">Donasi</a></li>
                <li><a href="/tentang.html">About</a></li>
            </ul>
        </div>
    </div>
</div>
